.App {
  text-align: center;
}

.list-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
}
.pokemon-tittle {
  text-transform: capitalize;
}
.avatar {
  display: flex;
  justify-content: center;
}
